annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
anyio==4.14.2 ; python_version >= "3.11" and python_version < "4.0"
click==8.4.2 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
fastapi==0.110.3 ; python_version >= "3.11" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.11" and python_version < "4.0"
idna==3.18 ; python_version >= "3.11" and python_version < "4.0"
pydantic-core==2.46.4 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.13.4 ; python_version >= "3.11" and python_version < "4.0"
starlette==0.37.2 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.16.0 ; python_version >= "3.11" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "4.0"
uvicorn==0.28.1 ; python_version >= "3.11" and python_version < "4.0"
